.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
        .title_banner {
            font-size: 3em;
            color: #e4f1df;
            align-items: center;
            justify-content: center;
            margin: 20px;
        }
    

    .strong_fotoprint {
        color: $maincolor;
        font-size: 1em;

        &:hover {
            transition: all 0.9s;
            font-size: 1.2em;
        }
    }

    .btn_banner {
        background-color: $thirdcolor;
        text-decoration: none;
        padding: 1em 4em;
        color: $secondcolor;
        border-radius: 1em;
        margin: 1em 0;

        &:hover {
            color: $thirdcolor;
            background-color: $secondcolor;
            transition: all 0.4s;
        }
    }
}